.page-container {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 600px;
}

.icon-logo {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 30%;
  max-width: 340px;
  max-height: 70px;
}

.accept-tou label {
  padding-left: 20px;
}

.accept-tou input[type="checkbox"] {
  margin-left: 0;
  margin-top: 7px;
}

.tou-wrapper {
  padding-top: 30px;
}
